.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
Archive/
Articles/
Qualtrics_Export/
Icon
Manuscript CEREGO 2018-08.docx
Manuscript/Cerego_2023-03-18.docx
Manuscript/The_Use_of_Adaptive_Learning_Technology_in_Online_Courses.docx
Manuscript/The_Use_of_Adaptive_Learning_Technology_in_Online_Courses.fff
Manuscript/The_Use_of_Adaptive_Learning_Technology_in_Online_Courses.log
Manuscript/The_Use_of_Adaptive_Learning_Technology_in_Online_Courses.tex
Manuscript/The_Use_of_Adaptive_Learning_Technology_in_Online_Courses.ttt
